@import-normalize; /*bring in normalize.css styles */

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
}

img {
    display: block;
    width: 100%;
}

ul {
    list-style: none;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

html{
    height: 100%;
}

body {
    height: 100%;
    font-family: Roboto;
    font-style: normal;
    background-color: getColor('background');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 52px 0;
}